@import "navigator.css";
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    /* background-image: url('../image/Background.png');
    background-repeat: repeat;
    background-size: 200px 200px; */
}
.content{
    position: absolute;
    margin-left: 12%;
    width: 88%;
    height:100%;
}
.box {

    width: 100%;
    position: relative;
    margin-top: 41px;
}
.text {
    /* position: relative; */
    text-align: center;
    /* top: 40%; */
    /* left: 50%; */
    /* font-style: bold;
    font-size:larger; */
}
.title {
    /* text-align: center; */
    font-weight:bolder;
    font-size: 34px;
}