table {
    width: max-content;
    border-collapse: collapse;
  }
  table, td {
    border: 1px solid #D1D7DD;
  }
  thead td, td {
    padding: 8px;
    text-align: left;
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  tr td:nth-child(odd) {
    background-color: #e6f7ff;
  }
  tr td:nth-child(even) {
    background-color: #ccf2ff;
  }