<template id="tpl-change-info">
    <div id="info-input">
        <div id="info-box-lable">个人信息更改</div>
        <form id="self-info-form">
            <div class="info-input-div" id="input-div0"><a class="info-input-tag" id="input-tag0">姓名: </a><input type="text" class="info-input-ctnt" id="input-ctnt0" placeholder="姓名"></div>
            <div class="info-input-div" id="input-div1"><a class="info-input-tag" id="input-tag1">卡号: </a><input type="text" class="info-input-ctnt" id="input-ctnt1" placeholder="卡号"></div>
            <div class="info-input-div" id="input-div2"><a class="info-input-tag" id="input-tag2">联系电话: </a><input type="text" class="info-input-ctnt" id="input-ctnt2" placeholder="联系电话"></div>
            <div class="info-input-div" id="input-div3"><a class="info-input-tag" id="input-tag3">电子邮箱: </a><input type="text" class="info-input-ctnt" id="input-ctnt3" placeholder="电子邮箱"></div>
            <div class="info-input-div" id="input-div4"><a class="info-input-tag" id="input-tag4">住址: </a><input type="text" class="info-input-ctnt" id="input-ctnt4" placeholder="住址"></div>
            <input type="button" id="self-info-btn" value="修改">
        </form>
        <div id="acct-lable">账户信息更改</div>
        <form id="acct-info-form">
            <div class="info-input-div" id="acct-input-div0"><a class="info-input-tag" id="acct-input-tag0">用户名: </a><input type="text" class="info-input-ctnt" id="acct-input-ctnt0" placeholder="用户名"></div>
            <div class="info-input-div" id="acct-input-div1"><a class="info-input-tag" id="acct-input-tag1">密码: </a><input type="password" class="info-input-ctnt" id="acct-input-ctnt1" placeholder="密码"></div>
            <div class="info-input-div" id="acct-input-div2"><a class="info-input-tag" id="acct-input-tag2">再次输入: </a><input type="password" class="info-input-ctnt" id="acct-input-ctnt2" placeholder="再次输入"></div>
            <input type="button" id="acct-info-btn" value="修改">
        </form>
    </div>
</template>
