<template id="tpl-my-info">
    <div id="info-card">
        <div id="user-box">
            <img src="./image/none_avatar.png" alt=".none_avatar" height="300">
            <div id="tip">(头像功能暂未实现)</div>
            <div id="person-name"></div>
        </div>
        <div id="info-box">
            <div class="info-div" id="info-div0"><a class="info-tag" id="info-tag0">姓名:</a><a class="info_ctnt" id="info_ctnt0">未设置</a></div>
            <div class="info-div" id="info-div1"><a class="info-tag" id="info-tag1">卡号:</a><a class="info_ctnt" id="info_ctnt1">未设置</a></div>
            <div class="info-div" id="info-div2"><a class="info-tag" id="info-tag2">联系电话:</a><a class="info_ctnt" id="info_ctnt2">未设置</a></div>
            <div class="info-div" id="info-div3"><a class="info-tag" id="info-tag3">电子邮箱:</a><a class="info_ctnt" id="info_ctnt3">未设置</a></div>
            <div class="info-div" id="info-div4"><a class="info-tag" id="info-tag4">住址:</a><a class="info_ctnt" id="info_ctnt4">未设置</a></div>
        </div>
    </div>
</template>
